.welcome-container {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .welcome-container button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .radio-group {
    margin-bottom: 20px;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 10px;
  }
  
  .radio-group label {
    display: inline-block;
    margin-right: 20px;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .get-started {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50; /* or any other desired color */
    animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

  
  